

.periodico{

background-image: url(./imagenes/fondo.jpg);
background-size:cover;
}

.encabezado{
    font-family: 'Pirata One', cursive;
    font-size: 90px;
    margin: 0 auto;
    text-align: center;
    margin-top: 8%;
    
}

.contenido{
    width: 1300px;
    
}

.listaencabezado{
text-align: center;
list-style: none;
display:inline-flex;
border-top: 1px solid black;
border-bottom: 1px solid black;
margin: 0 auto;
width: 100%;


}


.lista{
text-transform: uppercase;
width:1200px;
padding: 15px;


}

.encabezado2{
    font-family: 'Yeseva One', cursive;
    text-align: center;
    font-size: 40px;
    border-bottom: none;

}


.contenedor2{
column-count: 2;
text-align: justify;
padding: 20px;

}

h3{
    font-family: 'Yeseva One', cursive;
    font-size: 20px;

}




.imagen{
float: right;
width: 360px;
margin-right: 10%px;
height: 370px;

}